* {
	margin: 0;
	padding: 0;
}
:root {
	--textColor: #267ff3;
	--bg: #000000;
	--cardBg: #01000f;
	--buttonText: #1760bf;
	--buttonBg: rgb(7, 7, 7);
	--headBg: #01000f;

	box-sizing: border-box;
}

button {
	border: none;
	border-radius: 3px;
	padding: 0.3rem;
	font-weight: bold;
	color: var(--buttonText);
	background-color: var(--headBg);
	cursor: pointer;
}

body {
	color: var(--textColor);
	display: grid;
	grid-template-rows: 1fr 8fr 1fr;
	gap: 0px;
	position: relative;
	width: 20rem;
	height: 30rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background: var(--bg);
}

.done {
	text-decoration: overline;
}

.task-div {
	border: none;
	border-radius: 0.5rem;
	background-color: var(--cardBg);
	margin-top: 0.2rem;
	margin-right: 0.4rem;

	padding: 0.5rem;
}
.header {
	border: none;
	background-color: var(--headBg);
	font-size: 0.7rem;
	font-weight: bold;

	border-radius: 3px;
	position: sticky;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	justify-content: space-between;
	align-items: flex-start;

	padding-bottom: 1rem;
	margin: 0.5rem 0.2rem 0rem;
	height: 1rem;
}

.settings {
	text-align: center;
	padding-top: 1px;
	padding-bottom: 1px;
}

.main-div {
	overflow: auto;
	scrollbar-width: thin;
	scroll-behavior: smooth;
	scrollbar-color: var(--textColor) var(--cardBg);
}

.input-section {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 4fr 1fr;
	column-gap: 0.3rem;

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	margin: 2rem 0.5rem 0.5rem 0.5rem;
}

.task-input {
	border: none;
	border-radius: 0.4rem;
	outline: none;
	background-color: var(--cardBg);
	padding: 0.4rem;
	color: var(--textColor);
	height: 1.5rem;
}

/* Customize the label (the container) */
.container {
	display: block;
	position: relative;
	padding-left: 1.5rem;
	cursor: pointer;
	font-size: 13px;
	font-weight: 600;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 15px;
	width: 15px;
	border-radius: 3px;
	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
	left: 4px;
	width: 5px;
	height: 9px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
